---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import Base from "./Base.astro";

interface Props {
  title?: string;
  description?: string;
  type?: "website" | "article";
}

const { title, description, type } = Astro.props;
---

<Base title={title} description={description} type={type}>
  <Nav />
  <main class="site-main">
    <slot />
  </main>
  <Footer />
</Base>

